__pycache__/
*.py[cod]
.venv/
.python-version.local
*.egg-info/
build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.import_linter_cache/

*.db
*.sqlite
*.sqlite3

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
